In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./data_emnlp_final/data_06b8f2a1/1.3_test.csv")

In [6]:
df

,Unnamed: 0,id,story,query,text_query,target,text_target,clean_story,proof_state,f_comb,task_name,story_edges,edge_types,query_edge,genders,syn_story,node_mapping,task_split
0,0,5e249ede-4823-428d-b7fa-2d3deb8ed858,[Wayne] was out with his son [Matthew]. Later ...,"('Johanna', 'Henry')",NaN,father,"[""[Johanna] 'father [Henry] became enraged whe...",[Johanna] enjoyed a homemade dinner with her s...,"[{('Johanna', 'father', 'Henry'): [('Johanna',...",son-father-father,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['son', 'father', 'father']","(0, 3)","Johanna:female,Matthew:male,Wayne:male,Henry:male",NaN,"{4: 0, 19: 1, 16: 2, 0: 3}",test
1,1,14b8bd60-5d9f-4332-8f6c-1e0697541f7f,[Young] and his sister [Kathleen] have been be...,"('Young', 'Donna')",NaN,mother,"[""[Young]'s mother, [Donna], waited impatientl...",[Young] and his sister [Kathleen] have been be...,"[{('Young', 'mother', 'Donna'): [('Young', 'si...",sister-daughter-grandmother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['sister', 'daughter', 'grandmother']","(0, 3)","Young:male,Kathleen:female,Kari:female,Donna:f...",NaN,"{2: 0, 3: 1, 15: 2, 1: 3}",test
2,2,fe81eae5-c860-417f-8272-fbea0585d016,[Kathleen] was excited because she was meeting...,"('Wayne', 'Henry')",NaN,father,"['[Henry] was so proud of his son, [Wayne]. he...",[Howard] and his son [Wayne] went to look at c...,"[{('Wayne', 'father', 'Henry'): [('Wayne', 'si...",son-aunt-father,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['son', 'aunt', 'father']","(0, 3)","Wayne:male,Howard:male,Kathleen:female,Henry:male",NaN,"{16: 0, 17: 1, 3: 2, 0: 3}",test
3,3,1d88afe8-4feb-4adc-8940-b588b9771f24,"[Marian] asked her mother, [Donna], what they ...","('Kari', 'Donna')",NaN,grandmother,"['[Kari] takes good care of her grandmother, [...","[Kari] asked her mother, [Kathleen], what they...","[{('Kari', 'grandmother', 'Donna'): [('Kari', ...",mother-sister-mother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['mother', 'sister', 'mother']","(0, 3)","Kari:female,Kathleen:female,Marian:female,Donn...",NaN,"{15: 0, 3: 1, 5: 2, 1: 3}",test
4,4,4f02072c-8636-45d8-8b3f-5ad062ece354,[Ricky] invited his mother [Ashley] and grandm...,"('Young', 'Donna')",NaN,mother,['[Donna] gave birth to a son named [Young].'],"[Ashley] picked up her husband, [Young] from t...","[{('Young', 'mother', 'Donna'): [('Young', 'so...",wife-son-grandmother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['wife', 'son', 'grandmother']","(0, 3)","Young:male,Ashley:female,Ricky:male,Donna:female",NaN,"{2: 0, 6: 1, 8: 2, 1: 3}",test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,bf3525a3-11bb-4654-b575-f6f36a52061d,"[Philip]'s mother, [Donna], took him shopping ...","('Marian', 'Donna')",NaN,mother,['[Donna] had a daughter named [Marian].'],[Marian] went to her son [Joseph]'s House [Phi...,"[{('Marian', 'mother', 'Donna'): [('Marian', '...",son-father-mother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['son', 'father', 'mother']","(0, 3)","Marian:female,Joseph:male,Philip:male,Donna:fe...",NaN,"{5: 0, 22: 1, 21: 2, 1: 3}",test
97,97,2c62bd8a-a1c9-4775-aafb-530cbb1f589a,[Marian] loves her son [Devin] very much. He l...,"('Marian', 'Henry')",NaN,father,"['[Marian] took her father, [Henry], out to di...",[Marian] loves her son [Devin] very much. He l...,"[{('Marian', 'father', 'Henry'): [('Marian', '...",son-father-father,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['son', 'father', 'father']","(0, 3)","Marian:female,Devin:male,Philip:male,Henry:male",NaN,"{5: 0, 23: 1, 21: 2, 0: 3}",test
98,98,d4c7c9cc-a240-49fd-8d8a-efc698fda628,[Howard] went to lunch with his aunt [Marian]....,"('Wayne', 'Henry')",NaN,father,"['[Henry] was so proud of his son, [Wayne]. he...",[Howard] took his favorite son [Wayne] to a ba...,"[{('Wayne', 'father', 'Henry'): [('Wayne', 'si...",son-aunt-father,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['son', 'aunt', 'father']","(0, 3)","Wayne:male,Howard:male,Marian:female,Henry:male",NaN,"{16: 0, 17: 1, 5: 2, 0: 3}",test
99,99,54acd335-1add-4062-bf86-6e90ea643749,[Kathleen] just had a baby and presented the b...,"('Sarah', 'Donna')",NaN,grandmother,['[Sarah] asked her mother [Donna] if she coul...,"[Sarah] asked her mother, [Johanna], what they...","[{('Sarah', 'grandmother', 'Donna'): [('Sarah'...",mother-sister-mother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['mother', 'sister', 'mother']","(0, 3)","Sarah:female,Johanna:female,Kathleen:female,Do...",NaN,"{20: 0, 4: 1, 3: 2, 1: 3}",test
100,100,f636b396-79bd-47a5-9b64-58810209ae11,[Kathleen] spent a great day shopping with her...,"('Young', 'Donna')",NaN,mother,['[Donna] is proud that her son graduated coll...,[Kathleen] and [Young] are siblings who are en...,"[{('Young', 'mother', 'Donna'): [('Young', 'si...",sister-daughter-grandmother,task_1.3,"[(0, 1), (1, 2), (2, 3)]","['sister', 'daughter', 'grandmother']","(0, 3)","Young:male,Kathleen:female,Nicole:female,Donna...",NaN,"{2: 0, 3: 1, 12: 2, 1: 3}",test

In [10]:
df.iloc[0]['story']

"[Wayne] was out with his son [Matthew]. Later that day they went to see [Wayne]'s father, [Henry]. [Johanna] enjoyed a homemade dinner with her son [Matthew]"

In [13]:
df.columns

Index(['Unnamed: 0', 'id', 'story', 'query', 'text_query', 'target',
       'text_target', 'clean_story', 'proof_state', 'f_comb', 'task_name',
       'story_edges', 'edge_types', 'query_edge', 'genders', 'syn_story',
       'node_mapping', 'task_split'],
      dtype='object')

In [14]:
df.iloc[0]['text_target']

'["[Johanna] \'father [Henry] became enraged when she failed to complete her homework. [Johanna] was grounded for a month and unable to spend time with friends."]'

In [15]:
df.iloc[0]['genders']

'Johanna:female,Matthew:male,Wayne:male,Henry:male'

In [18]:
df.iloc[0]['proof_state']

"[{('Johanna', 'father', 'Henry'): [('Johanna', 'son', 'Matthew'), ('Matthew', 'grandfather', 'Henry')]}, {('Matthew', 'grandfather', 'Henry'): [('Matthew', 'father', 'Wayne'), ('Wayne', 'father', 'Henry')]}]"

In [24]:
import ast

raw = df.iloc[10]['proof_state']
parsed = ast.literal_eval(raw)
parsed

[{('Young', 'mother', 'Donna'): [('Young', 'son', 'Stephen'),
   ('Stephen', 'grandmother', 'Donna')]},
 {('Young', 'son', 'Stephen'): [('Young', 'wife', 'Ashley'),
   ('Ashley', 'son', 'Stephen')]}]

In [28]:
parsed[1].keys()

dict_keys([('Young', 'son', 'Stephen')])

In [34]:
import ast

all_names = set()

for row in df['proof_state']:
    try:
        parsed = ast.literal_eval(row)
        for rule in parsed:
            for head, body in rule.items():
                all_names.add(head[0])
                all_names.add(head[2])
                for triplet in body:
                    all_names.add(triplet[0])
                    all_names.add(triplet[2])
    except Exception as e:
        print(f"Error parsing row: {e}")

print(sorted(all_names))

['Alicia', 'Ann', 'Ashley', 'Cedric', 'Dale', 'Devin', 'Donald', 'Donna', 'Edward', 'Gloria', 'Heath', 'Henry', 'Howard', 'Jack', 'James', 'Janet', 'Johanna', 'John', 'Joseph', 'Kari', 'Kathleen', 'Lance', 'Laura', 'Lillian', 'Lourdes', 'Marian', 'Matthew', 'Myrna', 'Nicole', 'Noreen', 'Philip', 'Ricky', 'Rita', 'Sarah', 'Stephen', 'Tammy', 'Vickie', 'Wayne', 'William', 'Young']

In [39]:
import os
import re
# === PHASE 1: Gather ALL unique names ===
all_names = set()

def extract_names_from_proof_state(ps_str: str, collector: set):
    """
    Parse the proof_state string via ast.literal_eval,
    then walk every (head, body) pair and collect all names.
    """
    try:
        rules = ast.literal_eval(ps_str)
    except Exception:
        return
    for rule in rules:
        for head, body in rule.items():
            # head is a tuple (e.g. ('Johanna','father','Henry'))
            collector.add(head[0])
            collector.add(head[2])
            # body is a list of triplets
            for trip in body:
                collector.add(trip[0])
                collector.add(trip[2])

def extract_bracketed_names(text: str, collector: set):
    """
    Regex that finds [Name] in story/text_target.
    """
    found = re.findall(r"\[([A-Za-z]+)\]", text)
    collector.update(found)


# 1) Directory where all your CSVs live
BASE_DIR = "./data_emnlp_final/"

for root, _, files in os.walk(BASE_DIR):
    for fname in files:
        if not fname.lower().endswith(".csv"):
            continue
        path = os.path.join(root, fname)
        df = pd.read_csv(path)
        
        # 1a) From proof_state column
        if 'proof_state' in df.columns:
            for ps in df['proof_state'].dropna().astype(str):
                extract_names_from_proof_state(ps, all_names)
        
        # 1b) From story column bracketed names
        if 'story' in df.columns:
            for s in df['story'].dropna().astype(str):
                extract_bracketed_names(s, all_names)
        
        # (optionally) also from text_target if you want
        if 'text_target' in df.columns:
            for t in df['text_target'].dropna().astype(str):
                extract_bracketed_names(t, all_names)

print(f"Found {len(all_names)} distinct names:", sorted(all_names))

Found 676 distinct names: ['Aaron', 'Adam', 'Adan', 'Adelia', 'Adeline', 'Adrian', 'Aida', 'Alan', 'Albert', 'Alberta', 'Alex', 'Alfred', 'Alfredo', 'Alice', 'Alicia', 'Alisa', 'Alison', 'Allan', 'Allen', 'Alma', 'Alverta', 'Alvin', 'Amalia', 'Amanda', 'Amber', 'Amelia', 'Amy', 'Andrea', 'Andres', 'Andrew', 'Andy', 'Angel', 'Angela', 'Angelica', 'Angelina', 'Anita', 'Ann', 'Anna', 'Anne', 'Annette', 'Annie', 'Anthony', 'Antonia', 'Antonio', 'April', 'Arlene', 'Armando', 'Arnold', 'Arthur', 'Ashley', 'Asia', 'Audry', 'Aurora', 'Autumn', 'Avis', 'Barbara', 'Barry', 'Beatrice', 'Belinda', 'Belva', 'Ben', 'Benito', 'Benjamin', 'Benny', 'Bernard', 'Bernardo', 'Bertha', 'Beth', 'Bettie', 'Betty', 'Beverly', 'Billie', 'Billy', 'Blanca', 'Bobby', 'Bonita', 'Bonnie', 'Brad', 'Brandi', 'Brandon', 'Brenda', 'Brent', 'Bret', 'Brian', 'Bridget', 'Bridgett', 'Brittney', 'Bruce', 'Bryan', 'Candace', 'Carl', 'Carla', 'Carlos', 'Carly', 'Carmelita', 'Carmen', 'Carol', 'Carolina', 'Carolyn', 'Carrie', 'Casey', 'Catherine', 'Cathrine', 'Cathy', 'Cecelia', 'Cecil', 'Cecilia', 'Cedric', 'Cesar', 'Chad', 'Charlene', 'Charles', 'Charlie', 'Charlotte', 'Charlsie', 'Cheryl', 'Chris', 'Christian', 'Christina', 'Christine', 'Christopher', 'Chuck', 'Cindy', 'Claire', 'Clara', 'Clarence', 'Claudia', 'Cleo', 'Clifton', 'Clyde', 'Colin', 'Colleen', 'Connie', 'Constance', 'Cornelius', 'Cory', 'Courtney', 'Craig', 'Cristina', 'Cruz', 'Crystal', 'Cyrus', 'Dale', 'Dallas', 'Dan', 'Dana', 'Daniel', 'Danielle', 'Danita', 'Dannielle', 'Danny', 'Darlene', 'Darnell', 'Darren', 'Darryl', 'David', 'Davis', 'Dawn', 'Deanna', 'Deborah', 'Debra', 'Dee', 'Delia', 'Demetra', 'Denise', 'Dennis', 'Denver', 'Derrick', 'Devin', 'Diana', 'Diane', 'Dionne', 'Dixie', 'Dolores', 'Don', 'Donald', 'Donna', 'Dora', 'Doris', 'Dorothea', 'Dorothy', 'Douglas', 'Drew', 'Dulce', 'Dulcie', 'Dustin', 'Dwight', 'Earl', 'Earline', 'Eddie', 'Edgar', 'Edward', 'Edwin', 'Eldon', 'Eleanor', 'Elijah', 'Elise', 'Elizabeth', 'Ellen', 'Elliott', 'Ellis', 'Elsa', 'Elsie', 'Elvira', 'Emerita', 'Emily', 'Emma', 'Emmanuel', 'Enedina', 'Eric', 'Erica', 'Erik', 'Erika', 'Erin', 'Ernest', 'Errol', 'Esther', 'Ethel', 'Etta', 'Eugene', 'Eula', 'Eunice', 'Eustolia', 'Evangeline', 'Evelyn', 'Everett', 'Fay', 'Faye', 'Felicia', 'Felix', 'Fernando', 'Fidel', 'Flavia', 'Fletcher', 'Florence', 'Flossie', 'Floyd', 'Frances', 'Francisco', 'Frank', 'Frankie', 'Franklin', 'Fred', 'Freddie', 'Gabrielle', 'Gary', 'Gayle', 'Gemma', 'Gene', 'George', 'Georgina', 'Gerald', 'Geraldine', 'Gertrude', 'Gilbert', 'Gino', 'Giuseppe', 'Gladys', 'Glen', 'Glenda', 'Glenn', 'Glenna', 'Gloria', 'Gordon', 'Grady', 'Gregory', 'Guadalupe', 'Guillermina', 'Guy', 'Gwendolyn', 'Harold', 'Harriett', 'Harrison', 'Harry', 'Hattie', 'Heath', 'Heather', 'Heidi', 'Helen', 'Henrietta', 'Henriette', 'Henry', 'Herman', 'Hester', 'Hilda', 'Howard', 'Hugh', 'Ignacia', 'Imelda', 'Imogene', 'Ira', 'Irene', 'Irvin', 'Isabel', 'Jack', 'Jacklyn', 'Jacob', 'Jaime', 'James', 'Jami', 'Jamie', 'Janet', 'Janice', 'Jared', 'Jason', 'Javier', 'Jay', 'Jean', 'Jeanette', 'Jeanna', 'Jeannette', 'Jeff', 'Jeffery', 'Jeffrey', 'Jennifer', 'Jenny', 'Jeremy', 'Jerome', 'Jerry', 'Jess', 'Jesse', 'Jessica', 'Jettie', 'Jill', 'Jim', 'Joann', 'Joanne', 'Jodi', 'Joe', 'Joel', 'Johanna', 'John', 'Johnathan', 'Johnathon', 'Johnny', 'Johnson', 'Jon', 'Jonathan', 'Jonathon', 'Jose', 'Joseph', 'Josephine', 'Joshua', 'Josie', 'Joy', 'Joyce', 'Juan', 'Juanita', 'Judith', 'Judy', 'Julia', 'Julie', 'June', 'Justin', 'Karen', 'Kari', 'Kate', 'Katherine', 'Kathleen', 'Kathryn', 'Kathy', 'Kecia', 'Keith', 'Kelley', 'Kelly', 'Kenda', 'Kenneth', 'Kent', 'Kerri', 'Kerrie', 'Kevin', 'Kim', 'Kimberley', 'Kimberly', 'Kirk', 'Kristen', 'Kristin', 'Krystal', 'Kyle', 'Lakeisha', 'Lance', 'Lane', 'Larry', 'Latasha', 'Latisha', 'Laura', 'Lauren', 'Lawrence', 'Leah', 'Leandro', 'Lee', 'Leila', 'Lena', 'Leo', 'Leonard', 'Leroy', 'Leslie', 'Lester', 'Lewis', 'Liana', 'Lillian', 'Lilly', 'Linda', 'Lindsay', 'Lionel', 'Lisa', 'Lisbeth', 'Lizzie', 'Lois', 'Lonnie', 'Lore', 'Loren', 'Loretta', 'Lori', 'Lorraine', 'Lou', 'Louis', 'Louise', 'Lourdes', 'Lucas', 'Lucille', 'Luella', 'Luis', 'Lula', 'Luther', 'Lynda', 'Lynn', 'Mabel', 'Machelle', 'Mack', 'Madonna', 'Maida', 'Malcolm', 'Manuel', 'Marci', 'Margaret', 'Margaretta', 'Margarita', 'Marge', 'Marguerite', 'Maria', 'Marian', 'Marianne', 'Marie', 'Marilyn', 'Marina', 'Mario', 'Marissa', 'Marjorie', 'Mark', 'Marlene', 'Marsha', 'Martha', 'Martin', 'Marvin', 'Mary', 'Maryann', 'Matthew', 'Maura', 'Maureen', 'Max', 'Maxine', 'May', 'Maynard', 'Melanie', 'Melba', 'Melissa', 'Melody', 'Melvin', 'Merlin', 'Michael', 'Michaele', 'Micheal', 'Michele', 'Michell', 'Michelle', 'Mickey', 'Miguel', 'Mike', 'Mildred', 'Milo', 'Milton', 'Minnie', 'Miriam', 'Mitchell', 'Mollie', 'Molly', 'Mona', 'Monet', 'Monica', 'Morgan', 'Myrna', 'Nadia', 'Nancy', 'Naomi', 'Natalia', 'Natasha', 'Nettie', 'Newton', 'Nicholas', 'Nichole', 'Nicolas', 'Nicole', 'Noe', 'Nola', 'Nora', 'Noreen', 'Norman', 'Numbers', 'Oliver', 'Orlando', 'Orville', 'Oscar', 'Otto', 'Ouida', 'Pablo', 'Pamela', 'Pat', 'Patria', 'Patrice', 'Patricia', 'Patrick', 'Patty', 'Paul', 'Paulette', 'Pauline', 'Pedro', 'Peggy', 'Pennie', 'Pete', 'Peter', 'Philip', 'Phillip', 'Phuong', 'Phyllis', 'Preston', 'Rachel', 'Ralph', 'Ramiro', 'Ramon', 'Randall', 'Randi', 'Raquel', 'Raul', 'Ray', 'Raymond', 'Rebbeca', 'Rebecca', 'Rebekah', 'Regina', 'Rene', 'Renee', 'Reta', 'Reynaldo', 'Rhonda', 'Rich', 'Richard', 'Rick', 'Ricky', 'Rigoberto', 'Rita', 'Robert', 'Roberta', 'Roberto', 'Robin', 'Robyn', 'Rodney', 'Roger', 'Ronald', 'Rosa', 'Rosalee', 'Roscoe', 'Rose', 'Rosemary', 'Rosetta', 'Rosie', 'Ross', 'Roy', 'Ruby', 'Rudolph', 'Rufus', 'Russell', 'Ruth', 'Ryan', 'Sabrina', 'Salvatore', 'Samantha', 'Samuel', 'Sandra', 'Sandy', 'Santa', 'Sara', 'Sarah', 'Scott', 'Sean', 'Serena', 'Seth', 'Shana', 'Shane', 'Shantel', 'Sharon', 'Shawn', 'Sheila', 'Sherman', 'Shirely', 'Shirley', 'Sidney', 'Simon', 'Sofia', 'Spencer', 'Stacy', 'Stanley', 'Stephan', 'Stephane', 'Stephanie', 'Stephen', 'Steve', 'Steven', 'Stuart', 'Suanne', 'Sue', 'Susan', 'Sybil', 'Tammy', 'Ted', 'Tera', 'Teresa', 'Teresita', 'Thelma', 'Theodore', 'Theresa', 'Thomas', 'Tim', 'Timmy', 'Timothy', 'Tina', 'Todd', 'Tom', 'Tommy', 'Toni', 'Tony', 'Tracey', 'Traci', 'Tracy', 'Travis', 'Trista', 'Troy', 'Tyrone', 'Valerie', 'Vanessa', 'Vanetta', 'Venita', 'Verdie', 'Verna', 'Vernon', 'Veronica', 'Vickie', 'Victor', 'Victoria', 'Vincent', 'Violet', 'Virginia', 'Vivian', 'Wallace', 'Warren', 'Wayne', 'Wendy', 'Wesley', 'Wilbert', 'Wilhelmina', 'Willene', 'William', 'Willie', 'Wm', 'Young', 'Yvonne']

In [63]:
import random
random.seed(42)

import re
import random
import ast
import pandas as pd
BASE_DIR = "./data_emnlp_final/"

random.seed(2025)

MALE_PL = ["Ram","Shyam","Vishak","Sunil","Rahul","Amit","Rakesh","Anuj","Varun","Nikhil",
           "Arun","Suresh","Rohit","Manish","Vikas","Pankaj","Neeraj","Rajesh","Sanjeev","Ramesh",
           'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']
FEMALE_PL = ["Priya","Anita","Neha","Sonia","Deepa","Priyanka","Sneha","Pooja","Anjali","Geeta",
             'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
             "Meena","Lakshmi","Neetu","Kavita","Reena","Komal","Swati","Manju","Ritu","Usha"]

def parse_genders(gstr):
    return dict(item.split(":") for item in gstr.split(","))

def extract_unique_names(row):
    names = []
    # proof_state extraction
    try:
        rules = ast.literal_eval(row['proof_state'])
        for rule in rules:
            for head, body in rule.items():
                for n in (head[0], head[2]):
                    if n not in names: names.append(n)
                for trip in body:
                    for n in (trip[0], trip[2]):
                        if n not in names: names.append(n)
    except:
        pass
    # bracketed tokens
    for tok in re.findall(r"\[([A-Za-z]+)\]", row['story'] or ""):
        if tok not in names: names.append(tok)
    return names

def build_row_mapping(unique_names, gender_map, replace_prob=0.8):
    # 1) Split keep vs replace
    to_keep    = [n for n in unique_names if random.random() >= replace_prob]
    to_replace = [n for n in unique_names if n not in to_keep]
    
    # 2) Partition by gender
    male_names   = [n for n in to_replace if gender_map.get(n) == "male"]
    female_names = [n for n in to_replace if gender_map.get(n) == "female"]
    
    # 3) Sample placeholders without replacement
    if len(male_names) > len(MALE_PL) or len(female_names) > len(FEMALE_PL):
        raise ValueError("Placeholder pool too small for this row!")
    male_map   = dict(zip(male_names,   random.sample(MALE_PL,   len(male_names))))
    female_map = dict(zip(female_names, random.sample(FEMALE_PL, len(female_names))))
    
    # 4) Combine into final mapping (keep originals too)
    mapping = {n: n for n in to_keep}
    mapping.update(male_map)
    mapping.update(female_map)
    return mapping

def anonymize_text(text, mapping):
    for orig, new in mapping.items():
        text = re.sub(rf"\[{re.escape(orig)}\]",    f"[{new}]",    text)
        text = re.sub(rf"\[{re.escape(orig)}\]'s", f"[{new}]'s", text)
    return text

def process_df(df):
    stories, targets = [], []
    for _, row in df.iterrows():
        gender_map   = parse_genders(row['genders'])
        unique_names = extract_unique_names(row)
        row_map      = build_row_mapping(unique_names, gender_map)
        stories.append(anonymize_text(row['story'],       row_map))
        targets.append(anonymize_text(row['text_target'], row_map))
    df = df.copy()
    df['story_anonymized']       = stories
    df['text_target_anonymized'] = targets
    return df

In [64]:
for root, _, files in os.walk(BASE_DIR):
    for fname in files:
        if not fname.lower().endswith(".csv"):
            continue
        
        in_path  = os.path.join(root, fname)
        out_path = os.path.join(
            "./revised_data_emnlp",
            fname.replace(".csv", "_anonymized.csv")
        )
        
        print(f"Processing {in_path} → {out_path}", end=" ... ")
        df = pd.read_csv(in_path)
        df_out = process_df(df)
        df_out.to_csv(out_path, index=False)
        print("done")

Processing ./data_emnlp_final/data_db9b8f04/1.10_test.csv → ./revised_data_emnlp/1.10_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.5_test.csv → ./revised_data_emnlp/1.5_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.9_test.csv → ./revised_data_emnlp/1.9_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.7_test.csv → ./revised_data_emnlp/1.7_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.8_test.csv → ./revised_data_emnlp/1.8_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.2,1.3,1.4_train.csv → ./revised_data_emnlp/1.2,1.3,1.4_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.2_test.csv → ./revised_data_emnlp/1.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.6_test.csv → ./revised_data_emnlp/1.6_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_db9b8f04/1.4_test.csv → ./revised_data_emnlp/1.4_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.10_test.csv → ./revised_data_emnlp/1.10_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.5_test.csv → ./revised_data_emnlp/1.5_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.9_test.csv → ./revised_data_emnlp/1.9_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.7_test.csv → ./revised_data_emnlp/1.7_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.8_test.csv → ./revised_data_emnlp/1.8_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.2_test.csv → ./revised_data_emnlp/1.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.6_test.csv → ./revised_data_emnlp/1.6_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.4_test.csv → ./revised_data_emnlp/1.4_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_089907f8/1.2,1.3_train.csv → ./revised_data_emnlp/1.2,1.3_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/3.3_test.csv → ./revised_data_emnlp/3.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/3.2_test.csv → ./revised_data_emnlp/3.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/2.3_test.csv → ./revised_data_emnlp/2.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/4.3_test.csv → ./revised_data_emnlp/4.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/3.2,3.3_train.csv → ./revised_data_emnlp/3.2,3.3_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_523348e6/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/3.3_test.csv → ./revised_data_emnlp/3.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/2.3_test.csv → ./revised_data_emnlp/2.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/4.3_test.csv → ./revised_data_emnlp/4.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/1.2_test.csv → ./revised_data_emnlp/1.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_7c5b0e70/1.2,1.3_train.csv → ./revised_data_emnlp/1.2,1.3_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/4.2,4.3_train.csv → ./revised_data_emnlp/4.2,4.3_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/3.3_test.csv → ./revised_data_emnlp/3.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/2.3_test.csv → ./revised_data_emnlp/2.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/4.3_test.csv → ./revised_data_emnlp/4.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_d83ecc3e/4.2_test.csv → ./revised_data_emnlp/4.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/3.3_test.csv → ./revised_data_emnlp/3.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/2.3_test.csv → ./revised_data_emnlp/2.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/2.2,2.3_train.csv → ./revised_data_emnlp/2.2,2.3_train_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/4.3_test.csv → ./revised_data_emnlp/4.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/2.2_test.csv → ./revised_data_emnlp/2.2_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/1.3_test.csv → ./revised_data_emnlp/1.3_test_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/.ipynb_checkpoints/2.2,2.3_train-checkpoint.csv → ./revised_data_emnlp/2.2,2.3_train-checkpoint_anonymized.csv ... done
Processing ./data_emnlp_final/data_06b8f2a1/.ipynb_checkpoints/2.3_test-checkpoint.csv → ./revised_data_emnlp/2.3_test-checkpoint_anonymized.csv ... done

In [66]:
df = pd.read_csv('./revised_data_emnlp/1.2,1.3,1.4_train_anonymized.csv')

In [70]:
raw = df.iloc[10]

raw['story']

'[George] is frustrated teaching his son how to drive. His son is [Douglas]. [Douglas] loves spending time with his uncle [Wayne].'

In [71]:
raw['story_anonymized']

'[George] is frustrated teaching his son how to drive. His son is [Manish]. [Manish] loves spending time with his uncle [Suresh].'